/* Desktop Styles */
@media only screen and (min-width: 961px) {
  header {
    background: #b8d9c1;
    justify-content: flex-end;
    height: 3.2em;
    align-items: center;
    z-index: 20;
  }
  .mobile_screen {
    display: none;
  }
  header div {
    margin-right: 20px;
  }

  footer {
    position: absolute;
    color: #000000;
  }

  .content_wrapper {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .section_left {
    width: 16%;
    position: relative;
    height: 100%;
    padding: 44px 0 44px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .index_logo {
    margin-top: 10px;
  }
  .section_left ul {
  }
  .section_left ul li {
    list-style: none;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ffffff;
    text-align: left;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
  }
  .language {
  }
  .newsletter {
    width: 80%;
  }
  .sidebar_right {
    width: 84%;
    height: 100%;
    float: right;
    color: #000000;
    padding: 20px 1%;
    position: relative;
    box-sizing: border-box;
  }
  .index_page {
    display: flex;
    height: 95%;
  }
  .index_page_left_wrapper {
    position: relative;
    padding-right: 2%;
    margin-left: 2%;
  }
  .index-banner {
  }
  .index-banner2 {
  }
  .sing_in_button {
    position: absolute;
    top: -12px;
    left: -24px;
    background: rgb(185, 217, 193, 0.8);
    width: 100px;
    height: 45px;
    font-size: 20px;
    color: #ffffff !important;
    border: none;
    font-weight: bold;
  }
  .sign_up_button {
    position: absolute;
    width: 130px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: none;
    border: 5px solid #ffffff;
    top: 54%;
    left: 30%;
  }
  .index_page_slogan_wrapper {
    display: flex;
    height: 36%;
    width: 100%;
  }
  .index_page_slogan {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 36px 36px 36px;
    height: 100%;
    background: #b8d9c1;
    color: #ffffff;
    margin-left: -1px;
  }
  .index_page_slogan_mobile {
    display: none;
  }

  .index_page_right_wrapper {
    position: relative;
  }
  .index_page_right_title {
    background: #b8d9c1;
    color: #fff;
    text-align: center;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
  }
  .back_to_top {
    display: none;
  }

  /* sign in & sign up */
  .sign_in_sign_up,
  .sign_up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sign_up_billing_detial,
  .sign_up_personal_setting,
  .sign_up_preferred_exercise,
  .sign_up_done,
  .choose_interest {
    height: 80%;
    width: 70%;
    position: relative;
    /* transition: all 2s linear 0s; */
  }
  .form_wrapper {
    position: relative;
    width: 100%;
    /* height: calc(100% - 4.4em); */
    border: 4px solid #c8a985;
    box-sizing: border-box;
    padding: 30px 40px;
  }

  .form_left_title {
    text-align: right;
    color: #6d7278;
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: bold;
  }
  .creat_form_title {
    position: absolute;
    top: -25px;
    right: 0;
  }

  .current_customer_button {
    display: none;
  }
  .form {
    display: flex;
    width: 100%;
    margin-top: 25px;
  }
  .sign_in_form,
  .sign_up_creat_form {
    flex: 1;
    padding: 32px 32px;
    box-sizing: border-box;
    position: relative;
  }

  .sign_up_creat_form {
    border: 4px solid #c8a985;
  }
  .left_little_text {
    font-size: 0.8em;
    margin: 10px 0;
    text-align: right;
    text-decoration: underline;
  }
  .checkbox_text {
    font-size: 0.8em;
    margin: 10px 0;
  }
  .gender_wrapper {
    width: 60%;
  }
  .form_tag {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid #c8a985;
    border-bottom: 40px solid transparent;
    border-top: 40px solid #c8a985;
  }
  .icon_user {
    position: absolute;
    top: 12px;
    right: 24px;
  }

  .form_under_little_title {
    width: 50%;
  }

  .green_banner {
    position: absolute;
    right: 0;
    background: #b8d9c1;
    color: #fff;
    width: 36%;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px 10px;
    font-style: italic;
  }

  .human_wrapper {
    display: flex;
  }
  .complexion_box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-left: 10%;
    box-sizing: border-box;
    padding: 10% 5%;
    width: 40%;
  }
  .complexion_box_column {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
  }
  .complexion_box_item {
    border: 2px solid #c8a985;
    line-height: 2em;
    width: 6em;
    text-align: center;
  }
  .complexion_box_item:focus {
    background: #c8a985;
    color: #fff;
  }

  .interest_slogan {
    position: absolute;
    left: -20px;
    top: -20px;
    width: 400px;
    font-size: 1.2em;
    color: #fff;
    padding: 14px 40px;
    box-sizing: border-box;
    font-weight: bold;
    background: rgb(185, 217, 193, 0.8);
  }

  .interest_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 3em;
  }
  .interest_wrapper span {
    margin-top: 8px;
  }
  .interest_wrapper_column {
    display: flex;
    justify-content: space-evenly;
  }

  .interest_img_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }
  .interest_img_wrapper label {
    margin-top: 10px;
  }
  .goback{
    position: fixed;
    top: 0.6em;
    left: 1em;
  }
}
