* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #865a5a;
}
.section_left {
    width: 16%;
    height: 500px;
    float: left;
}
.section_left ul li {
    list-style: none;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    line-height: 50px;
}
.sidebar_right {
    width: 78%;
    float: right;
    height: 470px;
    margin-right: 3%;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
    color: #000000;
}
.footer {
    width: 100%;
    height:100px;
    clear: both;
    text-align: center;
    line-height: 100px;
    color: #925959;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red */
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
      background-color: #F5CF8E; /* Yellow */
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
      background-color: #ffffff; /* right */
    }
  }