* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffffff; 
}
a {
  text-decoration: none;
  color: #999999;
}
input{
  outline: none;
}
img {
  /* display: inline-block !important; */
}

footer {
  display: flex;
  height: 40px;
  bottom: 0;
  justify-content: flex-end;
  width: 94%;
  align-items: center;
  font-size: 0.8em;
  font-weight: bold;
  border-top: 1px solid #c8a985;
  left: 50%;
  transform: translateX(-50%);
}
footer div {
  margin-right: 20px;
}

.language_title {
  display: inline;
}
.language_p {
  display: inline;
  color: #999999;
  font-size: 19px;
}

.email_wrapper {
  width: 100%;
  display: flex;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d8d8d8;
  padding-left: 8px;
  margin: 6px 0;
  color: #999999;
  justify-content: space-between;
}
.email_next {
  position: relative;
  background-color: #cccccc;
  width: 30px;
}
.email_next img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.radioTitle,.checkedTitle {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #ffffff;
  border: solid 1px #c8a985;
  -webkit-border-radius: 0.6rem;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-appearance: none;  /**隐藏原生控件**/
}
      
.checkedTitle {
  border-radius: 0.1rem;   /**复选框的圆角要小一些**/
}
/**选择后的样式**/
.radioTitle:checked{
  background-color: #ffffff;
  border: solid 1px #c8a985;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  text-align: center;
  background-clip: padding-box;
}
.checkedTitle:checked{
  background-color: #ffffff;
  border: solid 1.6px #c8a985;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  text-align: center;
  background-clip: padding-box;
}
/**选择后 里面小对勾样式**/
.checkedTitle:checked:before{
  content: '';
  width: 0.5rem;
  height: 0.3rem;
  border: 1.6px solid #c8a985;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.3rem;
  margin-top: -0.3rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.radioTitle:checked:before{
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #c8a985;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.circle_wrapper {
  display: flex;
}

.circle {
  width: 15px;
  height: 15px;
  padding-bottom: 0;
  border-radius: 50%;
  border: 1px solid #cccccc;
}
.circleInPage {
  background: #9c9c9c;
}
.circle_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 34%;
  margin: 0 auto;
}

.arrow_box {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}
.arrow_bottom {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 4px;
  z-index: 2;
}
.bottom_arrow1,
.bottom_arrow2 {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  border-bottom: 10px transparent dashed;
  border-left: 10px transparent dashed;
  border-right: 10px transparent dashed;
  border-top: 10px #b8d9c1 solid;
  overflow: hidden;
}
.bottom_arrow1 {
  top: 1px; /*important*/
  border-top: 10px rgb(97, 97, 104) solid;
}
.bottom_arrow2 {
  border-top: 10px #b8d9c1 solid;
}

/* index page little picture */
.index_page_right_img_list_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 45px);
  color: #ffffff;
}
.index_page_right_img_wrapper {
  display: flex;
  flex: 1;
  margin-top: 10px;
}

.index_page_right_img_first {
  background: #c8a985;
}
.index_page_right_img_second {
  background: #f0e3cc;
}
.index_page_right_img_third {
  background: #cccccc;
}
.index_page_right_img_wrapper img {
  flex: 1;
}
.img_block {
  box-sizing: border-box;
  padding: 4px 10px;
  flex: 1;
}
.img_block p:first-of-type {
  font-size: 1.2em;
  font-weight: bold;
}
.img_block p:last-of-type {
  font-size: 1em;
}

.form_under_little_title {
  position: relative;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  margin: 10px 0;
  display: flex;
  align-items: center;
  height: 34px;
}
.form_under_little_title span {
  font-weight: bold;
  margin: 0 10px;
}


.slogan_first {
  font-size: 30px;
  line-height: 50px;
  border: 4px solid;
  text-align: center;
}
.slogan_second {
  font-size: 20px;
  line-height: 25px;
  margin-top: 10%;
}

.form_big_title {
  text-align: center;
  color: #c8a985;
  line-height: 2em;
}
.form_little_title {
  font-size: 1.3em;
}

.require_text,
  .little_text {
    font-size: 0.8em;
    margin-top: 1.6em;
  }
  .input_underline {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    line-height: 3em;
    margin-top: 1em;
  }

  .warn_text {
    position: absolute;
    color: red;
    font-size: 0.8em;
    /* margin: 10px 0; */
  }

  .submit_button {
    height: 40px;
    border: none;
    background-color: #333333;
    color: #ffffff;
    margin: 20px 20px 10px;
  }

  .left_little_text {
    font-size: 0.8em;
    margin: 10px 0;
    text-align: right;
    text-decoration: underline;
  }
  .checkbox_text {
    font-size: 0.8em;
    margin: 10px 0;
  }
  .gender_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
  }

  .input_box_wrapper {
    margin: 10px 0;
    position: relative;
  }
  .input_img_position {
    position: relative;
  }
  .input_title {
    display: block;
    color: #999999;
  }
  .input_box {
    height: 2em;
    width: 200px;
    border: 1px solid #c8a985;
  }
  .input_tips {
    color: #999999;
    font-size: 0.8em;
  }
  .input_box_wrapper_inline {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  .input_img {
    position: absolute;
    right: 0.1em;
    top: 0.2em;
  }

  .height_weight_wrapper {
    display: flex;
    align-items: center;
    color: #999999;
    margin: 16px 0;
  }
  
  .goal_bg {
    background: #e0e0e0;
    line-height: 2em;
    text-align: center;
    border-radius: 1em;
    margin: 0 10px;
  }
  .current_goal_weight {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 16px 0;
  }

  
