* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #999999;
}
input{
  outline: none;
}
img {
  /* display: inline-block !important; */
}
.header {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #865a5a;
}

.language_title {
  display: inline;
}
.language_p {
  display: inline;
  color: #999999;
  font-size: 19px;
}

.email_wrapper {
  width: 100%;
  display: flex;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d8d8d8;
  padding-left: 8px;
  margin: 6px 0;
  color: #999999;
  justify-content: space-between;
}
.email_next {
  position: relative;
  background-color: #cccccc;
  width: 30px;
}
.email_next img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.radioTitle,.checkedTitle {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #ffffff;
  border: solid 1px #c8a985;
  -webkit-border-radius: 0.6rem;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-appearance: none;  /**隐藏原生控件**/
}
      
.checkedTitle {
  border-radius: 0.1rem;   /**复选框的圆角要小一些**/
}
/**选择后的样式**/
.radioTitle:checked{
  background-color: #ffffff;
  border: solid 1px #c8a985;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  text-align: center;
  background-clip: padding-box;
}
.checkedTitle:checked{
  background-color: #ffffff;
  border: solid 1.6px #c8a985;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  text-align: center;
  background-clip: padding-box;
}
/**选择后 里面小对勾样式**/
.checkedTitle:checked:before{
  content: '';
  width: 0.5rem;
  height: 0.3rem;
  border: 1.6px solid #c8a985;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.3rem;
  margin-top: -0.3rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.radioTitle:checked:before{
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #c8a985;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.circle_wrapper {
  display: flex;
}

.circle {
  width: 15px;
  height: 15px;
  padding-bottom: 0;
  border-radius: 50%;
  border: 1px solid #cccccc;
}
.circleInPage {
  background: #9c9c9c;
}
.circle_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 34%;
  margin: 0 auto;
}

.arrow_box {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}
.arrow_bottom {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 4px;
  z-index: 2;
}
.bottom_arrow1,
.bottom_arrow2 {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  border-bottom: 10px transparent dashed;
  border-left: 10px transparent dashed;
  border-right: 10px transparent dashed;
  border-top: 10px #b8d9c1 solid;
  overflow: hidden;
}
.bottom_arrow1 {
  top: 1px; /*important*/
  border-top: 10px rgb(97, 97, 104) solid;
}
.bottom_arrow2 {
  border-top: 10px #b8d9c1 solid;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #f09a9d; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #f5cf8e; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #ffffff; /* right */
  }
  header {
    background: #b8d9c1;
    justify-content: flex-end;
    height: 3.2em;
    align-items: center;
    z-index: 20;
  }
  .mobile_screen {
    display: none;
  }
  header div {
    margin-right: 20px;
  }
  footer {
    display: flex;
    height: 40px;
    position: absolute;
    bottom: 0;
    justify-content: flex-end;
    width: 94%;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    border-top: 1px solid #c8a985;
    left: 50%;
    transform: translateX(-50%);
  }
  footer div {
    margin-right: 20px;
  }
  .content_wrapper {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .section_left {
    width: 16%;
    position: relative;
    height: 100%;
    padding: 44px 0 44px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .index_logo {
    margin-top: 10px;
  }
  .section_left ul {
  }
  .section_left ul li {
    list-style: none;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ffffff;
    text-align: left;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
  }
  .language {
  }
  .newsletter {
    width: 80%;
  }
  .sidebar_right {
    width: 84%;
    height: 100%;
    float: right;
    color: #000000;
    padding: 20px 1%;
    position: relative;
    box-sizing: border-box;
  }
  .index_page {
    display: flex;
    height: 95%;
  }
  .index_page_left_wrapper {
    position: relative;
    padding-right: 2%;
    margin-left: 2%;
  }
  .index-banner {
  }
  .index-banner2 {
  }
  .sing_in_button {
    position: absolute;
    top: -12px;
    left: -24px;
    background: rgb(185, 217, 193, 0.8);
    width: 100px;
    height: 45px;
    font-size: 20px;
    color: #ffffff !important;
    border: none;
    font-weight: bold;
  }
  .sign_up_button {
    position: absolute;
    width: 130px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: none;
    border: 5px solid #ffffff;
    top: 54%;
    left: 30%;
  }
  .index_page_slogan_wrapper {
    display: flex;
    height: 36%;
    width: 100%;
  }
  .index_page_slogan {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 36px 36px 0;
    height: 100%;
    background: #b8d9c1;
    color: #ffffff;
    margin-left: -1px;
  }
  .slogan_first {
    font-size: 30px;
    line-height: 50px;
    border: 4px solid;
    text-align: center;
  }
  .slogan_second {
    font-size: 20px;
    line-height: 25px;
    margin-top: 16%;
  }

  .index_page_right_wrapper {
    position: relative;
  }
  .index_page_right_img_wrapper {
    display: flex;
    flex: 1;
    margin-top: 10px;
  }
  .index_page_right_title {
    background: #b8d9c1;
    color: #fff;
    text-align: center;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
  }
  .index_page_right_img_list_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 45px);
    color: #ffffff;
  }
  .index_page_right_img_first {
    background: #c8a985;
  }
  .index_page_right_img_second {
    background: #f0e3cc;
  }
  .index_page_right_img_third {
    background: #cccccc;
  }
  .index_page_right_img_wrapper img {
    flex: 1;
  }
  .img_block {
    box-sizing: border-box;
    padding: 4px 10px;
    flex: 1;
  }
  .img_block p:first-of-type {
    font-size: 25px;
    font-weight: bold;
  }
  .img_block p:last-of-type {
    /* font-size: 20px; */
  }

  /* sign in & sign up */
  .sign_in_sign_up,
  .sign_up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sign_up_billing_detial,
  .sign_up_personal_setting,
  .sign_up_preferred_exercise,
  .sign_up_done,
  .choose_interest {
    height: 80%;
    width: 70%;
    position: relative;
  }
  .form_wrapper {
    position: relative;
    width: 100%;
    /* height: calc(100% - 4.4em); */
    border: 4px solid #c8a985;
    box-sizing: border-box;
    padding: 30px 40px;
  }

  .form_big_title {
    text-align: center;
    color: #c8a985;
    line-height: 2em;
  }
  .form_left_title {
    text-align: right;
    color: #6d7278;
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: bold;
  }
  .form_little_title {
    font-size: 1.3em;
  }
  .form {
    display: flex;
    width: 100%;
    /* height: 600px; */
  }
  .sign_in_form,
  .sign_up_creat_form {
    flex: 1;
    padding: 32px 32px;
    box-sizing: border-box;
    position: relative;
  }
  .require_text,
  .little_text {
    font-size: 0.8em;
    margin-top: 1.6em;
  }
  .input_underline {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    line-height: 3em;
    margin-top: 1em;
  }

  .warn_text {
    position: absolute;
    color: red;
    font-size: 0.8em;
    /* margin: 10px 0; */
  }

  .submit_button {
    height: 40px;
    border: none;
    background-color: #333333;
    color: #ffffff;
    margin: 20px 20px 10px;
  }
  .sign_up_creat_form {
    border: 4px solid #c8a985;
  }
  .left_little_text {
    font-size: 0.8em;
    margin: 10px 0;
    text-align: right;
    text-decoration: underline;
  }
  .checkbox_text {
    font-size: 0.8em;
    margin: 10px 0;
  }
  .gender_wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 14px 0;
  }
  .form_tag {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid #c8a985;
    border-bottom: 40px solid transparent;
    border-top: 40px solid #c8a985;
  }
  .icon_user {
    position: absolute;
    top: 12px;
    right: 24px;
  }

  .form_under_little_title {
    position: relative;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    width: 50%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    height: 34px;
  }
  .form_under_little_title span {
    font-weight: bold;
    margin: 0 10px;
  }
  .input_box_wrapper {
    margin: 10px 0;
    position: relative;
  }
  .input_img_position {
    position: relative;
  }
  .input_title {
    display: block;
    color: #999999;
  }
  .input_box {
    height: 2em;
    width: 200px;
    border: 1px solid #c8a985;
  }
  .input_tips {
    color: #999999;
    font-size: 0.8em;
  }
  .input_box_wrapper_inline {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  .input_img {
    position: absolute;
    right: 0.1em;
    top: 0.2em;
  }

  .green_banner {
    position: absolute;
    right: 0;
    background: #b8d9c1;
    color: #fff;
    width: 36%;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px 10px;
    font-style: italic;
  }
  .height_weight_wrapper {
    display: flex;
    align-items: center;
    color: #999999;
  }
  .current_goal_weight {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .goal_bg {
    background: #e0e0e0;
    line-height: 2em;
    text-align: center;
    border-radius: 1em;
    margin: 0 10px;
  }
  .human_wrapper{
    display: flex;
  }
  .complexion_box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 14%;
    box-sizing: border-box;
    padding: 80px 20px;
    width: 40%;
  }
  .complexion_box_column {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
  }
  .complexion_box_item {
    border: 2px solid #c8a985;
    line-height: 2em;
    width: 6em;
    text-align: center;
  }
  .complexion_box_item:focus{
    background: #c8a985;
    color: #fff;
  }

  .interest_slogan{
    position: absolute;
    left: -20px;
    top: -20px;
    width: 400px;
    font-size: 1.2em;
    color: #fff;
    padding: 14px 40px;
    box-sizing: border-box;
    font-weight: bold;
    background: rgb(185, 217, 193, 0.8);
  }

  .interest_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 3em;
  }
  .interest_wrapper span{
    margin-top: 8px;
  }
  .interest_wrapper_column{
    display: flex;
    justify-content: space-evenly;
  }

  .interest_img_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }
  .interest_img_wrapper label{
    margin-top: 10px;
  }
}
